body {
  background-color: #406882;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  user-select: none;
}

.main {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  
}

.container {
  width: 300px;
  height: auto;
  background-color: #a3d9ff;
  border-radius: 5px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headingOne {
  color: #041C32;
  font-family: 'Koulen', cursive;
  font-size: 60px;
  margin: 0;
}

.headingTwo {
  color: #041C32;
  font-family: 'Koulen', cursive;
  font-size: 24px;
  margin: 0;
}

.check {
  margin-right: 10px;
}

.plus {
  padding: 10px;
}

.btn-add {
  display: flex;
  justify-content: center;
}

.finished {
  color: grey;
  
}

ul, li {
  list-style-type: none;
  padding: 7px;
  margin-left: 15px;
}

.button-del {
  display: flex;
  justify-content: center;
}

.btn-del {
  padding: 8px;
  width: 60%;
  border: none;
  color: #041C32;
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
  background-color: #e3f3ff;
  border-radius: 5px;
}